{% extends "base.html" %}

{% block content %}
	<br/>
	<div style="text-align: center"><h1>Sistema de Reconocimiento de Patentes</h1>
	<br/>
	{% if user.is_authenticated %}
	<h2>Bienvenido {{ user.username }}</h2>
	<br/>
		<a class="btn btn-lg btn-info" href="/patentes">Ver listado de patentes registradas</a><br/><br/>
		<a class="btn btn-lg btn-info" href="/patentes/create">Agregar nuevo vehículo</a><br/><br/>
		<a class="btn btn-lg btn-info" href="/patentes/search">Buscar vehículo</a><br/><br/>
		<!--<a class="btn btn-lg btn-outline-dark" href="{% url 'logout' %}">Cerrar sesión</a><br/><br/>-->
	{% else %}
		<p>Para acceder al sistema debes ingresar tu usuario y clave</p>
		<a class="btn btn-lg btn-info" href="{% url 'login' %}">Iniciar sesión</a><br/><br/>
		<p>Si no tienes un usuario puedes registrarte</p>
		<a class="btn btn-lg btn-outline-dark" href="{% url 'signup' %}">Registrarse</a><br/><br/>
	{% endif %}
	</div>
{% endblock %}
