{% extends 'base.html' %}

{% block content %}

<br/>
<h1>Indique rango de fechas de ingresos a buscar</h1>
<br/>
<div class="container" style="width: 28rem;">
	<form action="/patentes/registros/results/" method="post">
		{% if form.errors %}
    		{% for field in form %}
        		{% for error in field.errors %}
            		<div class="alert alert-danger">
                		<strong>{{ field.name }}: {{ error|escape }}</strong>
            		</div>
        		{% endfor %}
    		{% endfor %}
    		{% for error in form.non_field_errors %}
        	<div class="alert alert-danger">
            	<strong>{{ field.name }}: {{ error|escape }}</strong>
        	</div>
    		{% endfor %}
		{% endif %}
		
		{% csrf_token %}
			<table class="table table-borderless">
				<tr>
					<td>Fecha de Inicio</td>
					<td><input type="text" id="datepickerInicio" name="fechaInicio"/></td>
				</tr>
				<tr>
					<td>Fecha de Término</td>
					<td><input type="text" id="datepickerTermino" name="fechaTermino"/></td>
				</tr>
			</table>
		<div style="text-align:center;">
			<a class="btn btn-lg btn-outline-dark" href="/" role="button">Volver al inicio</a>
			<button type="submit" class="btn btn-lg btn-info">Ver Registros</button>
		</div>
		<br/>
		<br/>
	</form>
	
</div>
{% endblock %}