{% extends 'base.html' %}

{% block content %}

<br/>
<h1>Indique rango de fechas de ingresos a buscar</h1>
<br/>
<div class="container" style="width: 28rem;">
	<form action="/patentes/registros/results/" method="post">
		<!-- Alerta de errores -->
		{% if messages %}
    		{% for message in messages %}
				<div class="alert alert-danger">
					<strong>
						{{ message|safe }}
					</strong>
				</div>
    		{% endfor %}
		{% endif %}
		
		<!-- Formulario -->
		{% csrf_token %}
			<table class="table table-borderless">
				<tr>
					<td>Fecha de Inicio</td>
					<td><input type="text" id="datepickerInicio" name="fechaInicio"/></td>
				</tr>
				<tr>
					<td>Fecha de Término</td>
					<td><input type="text" id="datepickerTermino" name="fechaTermino"/></td>
				</tr>
			</table>
		<div style="text-align:center;">
			<a class="btn btn-lg btn-outline-dark" href="/" role="button">Volver al inicio</a>
			<button type="submit" name="registros" class="btn btn-lg btn-info">Ver Registros</button>
		</div>
		<br/>
		<br/>
	</form>
	
</div>
{% endblock %}