{% extends 'base.html' %}

{% block content %}
<br/>
<h1>Añadir un nuevo vehículo</h1>
<br/>
<div class="container" style="width: 28rem;">
	<form action="" method="post">
		{% csrf_token %}
			<table class="table table-borderless">
				<tr>
					<td>Nombre Persona</td>
					<td><input style="width:100%" name="nombrePersona" data-toggle="tooltip" data-placement="right" title="Ingresar nombre completo"></input></td>
				</tr>
				<tr>
					<td>Patente</td>
					<td><input style="width:100%" name="patente"></input></td>
				</tr>
				<tr>
					<td>Estacionamiento</td>
					<td><input style="width:100%" name="estacionamiento"></input></td>
				</tr>
				<tr>
					<td>Departamento Asociado</td>
					<td><input style="width:100%" name="deptoAsociado"></input></td>
				</tr>
				<tr>
					<td>Estado</td>
					<td><input style="width:100%" name="estado"></input></td>
				</tr>
				<tr>
					<td>RUT</td>
					<td><input style="width:100%" name="rut" data-toggle="tooltip" data-html="true" data-placement="right" title="Ingresar RUT sin puntos ni guión"></input></td>
				</tr>
				<tr>
					<td>E-Mail</td>
					<td><input style="width:100%" name="email"></input></td>
				</tr>
				<tr>
					<td>Teléfono</td>
					<td><input style="width:100%" name="telefono"></input></td>
				</tr>
				<tr>
					<td colspan="2">
						<button type="submit" class="btn btn-lg btn-info btn-block">Guardar</button>
					</td>
				</td>
			</table>
	</form>
</div>
{% endblock %}