{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Sistema de Reconocimiento de Patentes{% endblock %}</title>	
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="{% static "font-awesome/css/all.css" %}" rel="stylesheet">
		<link href="{% static "css/patentes.css" %}" rel="stylesheet">

	{% block head %}
	{% endblock %}

	{% block content %}
	<script language="javascript">
		setTimeout(function(){
			window.location.reload(1);
		}, 30000);
	</script>

	<div class="container">
		<div class="row mt-5 justify-content-center">
		{% for r in registro_vehiculos %}
		{% if r.registrado == 0 %}
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Vehículo no registrado</h5>
					<div style="text-align:center"><p class="card-text">{{ r.vehiculo }}<br/>Haga click en el botón para agregarlo al registro</p>
					<form action="/patentes/create/" method="post">
						<button href="/patentes/create/" type="submit" value="{{r.vehiculo}}" name="patente" class="btn btn-outline-dark" target="_blank">Agregar Vehículo</button>
					</form>
					<form action="/patentes/reconocimiento" method="get">
						<button type="submit" name="visto" class="btn btn-outline btn-info" value=1>Dejar como visto</button></div>
					</form>
				</div>
			</div>
		{% elif r.visto == 0 %}
			{% for vehiculo in vehiculos %}
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">{{ vehiculo.nombrePersona }}</h5>
						<p class="card-text">{{ vehiculo.patente }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ vehiculo.tipo }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ vehiculo.estado }}</p>
						<div style="text-align:center"><a href="/patentes/{{ vehiculo.rut }}/" class="btn btn-outline-dark" target="_blank">Ver detalle del vehículo</a>
						<form action="/patentes/reconocimiento" method="get">
							<button type="submit" name="visto" class="btn btn-outline btn-info" value=1>Dejar como visto</button></div>
						</form>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		{% endfor %}
		</div>
	</div>
	{% endblock %}
</html>
